
.vs/dolce/v15/.suo
.vs/dolce/v15/.suo
*.lock
.vs/dolce/v15/.suo
.vs/dolce/v15/server/sqlite3/storage.ide-shm
.vs/dolce/v15/server/sqlite3/storage.ide-wal
*.exe
*.pdb
*.cache
Dolce/obj/Debug/Dolce.Summary.resources
Dolce/obj/Debug/Dolce.csproj.FileListAbsolute.txt
Dolce/obj/Debug/Dolce.csproj.GenerateResource.cache
.vs/dolce/v15/.suo
